.navbar-header
  button.navbar-toggler.hidden-sm-up.pull-sm-right data-target=".navbar-ex1-collapse" data-toggle="collapse" type="button" 
    | ☰
  = link_to 'Admin Panel', admin_root_path, class: 'navbar-brand'
  